{% extends 'core/base.html' %}

{% load custom_filters %}

{% block content %}
{% for msg in messages %}
{% if msg.tags == 'error' %}
<div class="px-6 py-4 mb-4 text-sm text-center bg-red-500 rounded-xl opacity-50 text-white-100 text-4xl font-bold">
    {{ msg }}
</div>
{% endif %}
{% if msg.tags == 'success' %}
<div class="px-6 py-4 mb-4 text-sm text-center bg-green-500 rounded-xl opacity-50 text-white-100 text-4xl font-bold">
    {{ msg }}
</div>
{% endif %}
{% endfor %}
<div class="mt-6 mb-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h1 class="mb-6 text-4xl font-bold text-center text-sky-950">Buildings</h1>
    <div class="flex flex-col items-center justify-center">
        <div class="grid grid-cols-3 gap-4">
            {% for building in buildings %}
            <div class="flex flex-col items-center justify-center p-4 bg-white rounded-xl shadow-md">
                <h1 class="mb-2 text-2xl font-bold text-center text-sky-950">{{ building.name }}</h1>
                <p class="mb-2 text-center text-sky-950">{{ building.description }}</p>
                {% if building in user_profile.buildings.all %}
                <p class="mb-2 text-center text-sky-950">Level: {{ building_levels|get:building.id }}</p>
                {% else %}
                <p class="mb-2 text-center text-sky-950">{{ building.cost }}$</p>
                {% endif %}
                {% if building in user_profile.buildings.all %}
                <a class="mb-2 text-center text-sky-950" href="#">Eggs per second : {{ building_levels|get:building.id|add:building.eggs_per_second|pow:2 }}</a>
                <a class="mb-2 text-center text-sky-950" href="#">Eggs in storage : {{ building.egg_in_storage}} / {{ building_levels|get:building.id|add:building.egg_capacity|mul:2|pow:2 }} </a>
                
                <p>Upgrade cost: {{ building_levels|get:building.id|add:building.cost|pow:3}}$</p>
                <form method="post" action="{% url 'buildings:upgrade_building' %}">
                    {% csrf_token %}
                    <input type="hidden" name="building_id" value="{{ building.id }}">
                    <button type="submit" class="px-4 py-2 text-white bg-sky-950 rounded-xl hover:bg-sky-800">Upgrade</button>
                </form>
                {% else %}
                <form method="post" action="{% url 'buildings:build_building' %}">
                    {% csrf_token %}
                    <input type="hidden" name="building_id" value="{{ building.id }}">
                    <button type="submit" class="px-4 py-2 text-white bg-sky-950 rounded-xl hover:bg-sky-800">Build</button>
                </form>
            {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}