{% extends 'core/base.html' %}

{% block content %}
<div class="mt-6 mb-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h1 class="mb-6 text-4xl font-bold text-center text-sky-950">Buildings</h1>
    <div class="flex flex-col items-center justify-center">
        <div class="grid grid-cols-3 gap-4">
            {% for building in buildings %}
            <div class="flex flex-col items-center justify-center p-4 bg-white rounded-xl shadow-md">
                <h1 class="mb-2 text-2xl font-bold text-center text-sky-950">{{ building.name }}</h1>
                <p class="mb-2 text-center text-sky-950">{{ building.description }}</p>
                <p class="mb-2 text-center text-sky-950">{{ building.cost }}$</p>
                {% if building in user_profile.buildings.all %}
                <a href="{% url building.url_name %}" class="px-4 py-2 text-white bg-sky-950 rounded-xl hover:bg-sky-800">Enter</a>
                {% else %}
                <a href="#" class="px-4 py-2 text-white bg-sky-950 rounded-xl hover:bg-sky-800">Build</a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}