{% extends 'core/base.html' %}

{% load custom_filters %}

{% block content %}
{% for msg in messages %}
{% if msg.tags == 'error' %}
<div class="px-6 py-4 mb-4 text-sm text-center bg-red-500 rounded-xl opacity-50 text-white-100 text-4xl font-bold">
    {{ msg }}
</div>
{% endif %}
{% if msg.tags == 'success' %}
<div class="px-6 py-4 mb-4 text-sm text-center bg-green-500 rounded-xl opacity-50 text-white-100 text-4xl font-bold">
    {{ msg }}
</div>
{% endif %}
{% endfor %}
<div class="mt-6 mb-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h1 class="mb-6 text-4xl font-bold text-center text-sky-950">Buildings</h1>
    <div class="flex flex-col items-center justify-center">
        <div class="grid grid-cols-3 gap-4">
            {% for building in buildings %}
            <div class="flex flex-col items-center justify-center p-4 bg-white rounded-xl shadow-md">
                <h1 class="mb-2 text-2xl font-bold text-center text-sky-950">{{ building.name }}</h1>
                <p class="mb-2 text-center text-sky-950">{{ building.description }}</p>
                {% if building in user_profile.buildings.all %}
                <p class="mb-2 text-center text-sky-950">Level: {{ building_levels|get:building.id }}</p>
                {% else %}
                <p class="mb-2 text-center text-sky-950">{{ building.cost }}$</p>
                {% endif %}
                {% if building in user_profile.buildings.all %}
                <a class="mb-2 text-center text-sky-950" href="#">Eggs per click : <span id="{{building.id}}eggs_per_click">{{ building_levels|get:building.id|add:building.eggs_per_click|pow:3|mul:0.1 }}</span></a>
                <a class="mb-2 text-center text-sky-950" href="#">Eggs in storage : <span id="{{building.id}}egg">{{ building_eggs|get:building.id }}</span> / <span id="{{building.id}}egg_limit">{{ building_levels|get:building.id|add:building.egg_capacity|mul:1|pow:3 }}</span> </a>

                
                <p>Upgrade cost: {{ building_levels|get:building.id|add:building.cost|pow:3}}$</p>
                <form method="post" action="{% url 'buildings:upgrade_building' %}">
                    {% csrf_token %}
                    <input type="hidden" name="building_id" value="{{ building.id }}">
                    <button type="submit" class="px-4 mt-4 py-2 text-white bg-sky-950 rounded-xl hover:bg-sky-800">Upgrade</button>
                </form>
                <button class="px-4 py-2 mt-4 text-white bg-sky-800 rounded-xl hover:bg-sky-700" onclick="add_egg_to_storage('{{ building.id }}egg', '{{ building.id }}egg_limit', '{{ building.id }}eggs_per_click')">Add to storage</button>
                {% else %}
                <form method="post" action="{% url 'buildings:build_building' %}">
                    {% csrf_token %}
                    <input type="hidden" name="building_id" value="{{ building.id }}">
                    <button type="submit" class="px-4 py-2 text-white bg-sky-950 rounded-xl hover:bg-sky-800">Build</button>
                </form>
            {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>

    let all_egg_elements_id_dict = {};

    const add_egg_to_storage = (eggs_storage, egg_limit, eggs_per_click) => {
        let egg = document.getElementById(eggs_storage);
        let egg_limit_element = document.getElementById(egg_limit);
        let eggs_per_click_element = document.getElementById(eggs_per_click);
        
        all_egg_elements_id_dict[eggs_storage] = egg;

        if (parseFloat(egg_limit_element.innerHTML) >= parseFloat(egg.innerHTML) + parseFloat(eggs_per_click_element.innerHTML)) {
            egg.innerHTML = parseInt(egg.innerHTML) + parseInt(eggs_per_click_element.innerHTML);
        } else {
            egg.innerHTML = egg_limit_element.innerHTML;
            alert('You have reached the limit of your storage');
        }
    }
    
    window.addEventListener('beforeunload', function (e) {
      
        for (const [key, value] of Object.entries(all_egg_elements_id_dict)) {
            let egg = document.getElementById(key);
            id = key.replace('egg', '');
            let data = {
                id: id,
                content: egg.innerHTML
            };
        
            // Send the data to the Django view using Fetch API
            fetch('save_eggs/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}' // Include CSRF token if needed
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .catch(error => {
                console.error('Error:', error);
            });
        }
    });
    
</script>
{% endblock %}