{% extends 'core/base.html' %}

{% block title %}Farmers Market{% endblock %}

{% block content %}
{% for msg in messages %}
{% if msg.tags == 'error' %}
<div class="px-6 py-4 mb-4 text-sm text-center bg-red-500 rounded-xl opacity-50 text-white-100 text-4xl font-bold">
    {{ msg }}
</div>
{% endif %}
{% if msg.tags == 'success' %}
<div class="px-6 py-4 mb-4 text-sm text-center bg-green-500 rounded-xl opacity-50 text-white-100 text-4xl font-bold">
    {{ msg }}
</div>
{% endif %}
{% endfor %}
<div class="mt-6 mb-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h1 class="mb-6 text-4xl font-bold text-center text-sky-950">Marketplace</h1>
    <div class="flex flex-col items-center justify-center">
        <div class="grid grid-cols-3 gap-4">
            {% for item in shoping_items %}
            <div class="flex flex-col items-center justify-center border-2 rounded-xl shadow-xl">
                <p class="text-center text-2xl font-bold text-sky-950 mt-6">{{ item.name }}</p>
                <div class="border-2 mt-6 rounded-xl">
                    <div class="bg-green-200 rounded-xl mt-2 mb-4 ml-2 mr-2">
                        <p class="text-center border-2 border-green-200 rounded-xl"> Buy for: {{ item.costbuy }}$</p>
                    </div>
                    <div class="bg-red-200 rounded-xl mb-2 ml-2 mr-2">
                        <p class="text-center border-2 border-red-200 rounded-xl"> Sell for: {{ item.costsell}}$</p>
                    </div>
                </div>
                <form method="post" action="{% url 'market:buy_sell_eggs' %}">
                    {% csrf_token %}
                    <div class="flex flex-col items-center justify-center">
                        <input type="number" name="eggs" action="{% url 'market:buy_sell_eggs' %}" value="0" class="px-4 py-2 mt-4 mb-4 text-gray-700 bg-white border-2 border-gray-300 rounded-xl focus:outline-none focus:border-sky-950 w-1/2" placeholder="Eggs">
                        <input type="hidden" name="item_name" value="{{ item.name }}">
                        <button type="submit" name="action" class="px-4 mt-2 mb-2 py-2 text-white bg-green-950 rounded-xl hover:bg-green-800" value="buy">Buy {{ item.name }}</button>
                        <button type="submit" name="action" class="px-4 mb-2 mt-2 py-2 text-white bg-red-950 rounded-xl hover:bg-red-800" value="sell">Sell {{ item.name }}</button>
                    </div>
                </form>
            </div>

            {% endfor %}
</div>
</div>
{% endblock %}
