{% extends 'core/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block style %}       /* Custom CSS for the carousel */
.carousel {
   margin-left: 10%;
   margin-right: 10%;
}
.carousel img {
    max-width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
    
}
.slick-prev,
.slick-next {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    background: #fff;
}
.slick-prev:before {
    color: black;
    font-size: 40px;
  }
.slick-next:before {
    color: black;
    font-size: 40px;
  }

.card{
    background-color: #fff;
    border-radius: 0, 0, 10, 10;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    margin-left: 5%;
    margin-right: 5%;
}

.wholeCard:hover{
    transform: translateY(-5px);
}

{% endblock %}

{% block content %}
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h1 class="mb-6 text-4xl font-bold text-center text-sky-950">Dashboard</h1>
        <hr class="mb-2" style="border-top: 1px solid gray;">
        <h2 class="mb-6 text-2xl font-bold text-center text-sky-950">Live Stats</h2>
        <div class="max-w-xl mx-auto bg-white p-6 rounded-lg shadow mb-6">
            <!-- Chart.js Canvas -->
            <canvas id="myChart" class="w-full h-64"></canvas>
        </div>
        <hr class="mb-2" style="border-top: 1px solid gray;">
        <h2 class="mb-6 text-2xl font-bold text-center text-sky-950">Shortcuts</h2>
        <div class="carousel">
            {% for department in departments %}
                <div class="wholeCard mt-6">
                    <a href="{% url department.link %}">
                        <img src="{{ department.image.url }}" alt="{{ department.name }}" class="mt-6">

                    <div class="p-6 bg-white rounded-b-xl card mb-6">
                        <h3 class="mb-2 text-xl font-bold">{{ department.name }}</h3>
                        <p class="mb-4 text-gray-500">{{ department.description }}</p>
                </div>
                </a>
                </div>
            {% endfor %}
        </div>
    </div>
    
        <script>
            $(document).ready(function(){
                $('.carousel').slick({
                    infinite: true,
                    slidesToShow: 4,
                    slidesToScroll: 1,
                    autoplay: true,
                    autoplaySpeed: 3500,
                    prevArrow: '<button type="button" class="slick-prev"></button>',
                    nextArrow: '<button type="button" class="slick-next"></button>'
                });
            });
        </script>
        <script>
            var myChart = null;
            var prevData = null;
            
            function updateLiveData() {
                // Make an AJAX request to fetch live data
                fetch('/dashboard/chart_data/')
                    .then(response => response.json())
                    .then(data => {
                        // Check if data has changed
                        if (JSON.stringify(data) === JSON.stringify(prevData)) {
                            return;
                        }
                        prevData = data;
            
                        // Data
                        var xData = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20];
                        console.log(data.egg_amount.split(','));
                        var yData = data.egg_amount.split(',');
            
                        // Destroy existing chart if it exists
                        if (myChart !== null) {
                            myChart.destroy();
                        }
            
                        // Chart.js configuration
                        var ctx = document.getElementById('myChart').getContext('2d');
                        myChart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: xData,
                                datasets: [{
                                    label: 'Eggs collected',
                                    data: yData,
                                    backgroundColor: 'rgba(0, 119, 204, 0.3)',
                                    borderWidth: 1,
                                }, {
                                    type: 'line',
                                    label: 'Also eggs collected',
                                    data: yData,
                                    backgroundColor: 'rgba(49,46,129)',
                                    borderColor: 'rgba(49,46,129)',
                                    fill: false,
                                }],
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true,
                                    },
                                },
                            },
                        });
                    });
            }
            
            setInterval(updateLiveData, 2800);
        
        </script>

{% endblock %}